<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833441979479-hhk4kh5pmgu0eekdfb1rmc0pljhhln8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833441979479-hhk4kh5pmgu0eekdfb1rmc0pljhhln8n</string>
	<key>API_KEY</key>
	<string>AIzaSyACsGjSdjXsmLBrJ1ndA3HH-nGg5H6TLHY</string>
	<key>GCM_SENDER_ID</key>
	<string>833441979479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-93686</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-93686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833441979479:ios:7f2e3e6808d9fcbd7ed712</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerceapp-93686-default-rtdb.firebaseio.com</string>
</dict>
</plist>